[run]
omit =
  # omit cli files, these are tested manually 
  saber/cli/*
  # omit test files themselves
  saber/tests/*
  # omit the file of constants
  saber/constants.py
  # omit any init files
  saber/__init__.py
  saber/*/__init__.py
