# Include the README(s)
recursive-include . *.md

# Include the license file
include LICENSE.txt

# Include requirements.txt
include requirements.txt

# Include the config file(s)
recursive-include saber *.ini

# Include pretrained model(s)
recursive-include pretrained_models *.tar.bz2
