# Include the README(s)
include README.md

# Include the license file
include LICENSE.txt

# Include the config file
include saber config.ini

# Include pretrained model(s)
recursive-include saber/pretrained_models *.tar.bz2

# Include the test resources
recursive-include saber/tests/resources *
