Keras==2.1.5
spacy==2.0.11
h5py==2.7.1
numpy==1.14.2
pandas==0.22.0
scikit-learn==0.19.1
tensorflow==1.7.0
git+https://www.github.com/keras-team/keras-contrib.git
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_sm
